<?xml version="1.0"?>
<simplDeployPackagerConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <buildConfig>Debug</buildConfig>
  <projectFile>D:\Serious Business undso\200 Arbeit\210 git\desktop-application\icdd-desktop-application\icdd-desktop-application.csproj</projectFile>
  <product>icdd-desktop-application</product>
  <publisher>Malik Müller</publisher>
  <version>0.9.0.34</version>
  <entryPoint>icdd-desktop-application.exe</entryPoint>
  <quietMayor>false</quietMayor>
  <inAppUpdate>false</inAppUpdate>
  <StartupArgumentsEnabled>false</StartupArgumentsEnabled>
  <signPackageEnabled>false</signPackageEnabled>
  <certificatePath />
  <savePassword>false</savePassword>
  <timeStampServerUrl />
  <customUninstallProcedureEnabled>false</customUninstallProcedureEnabled>
  <uninstallArgs />
  <deploymentTargets>
    <rootUrl>https://seafile.inf.bi.ruhr-uni-bochum.de/library/6a9ed4ac-d1d1-49a7-b684-ee9f13c8f502/IcddDesktopApplication/</rootUrl>
    <destinationFolder>D:\Serious Business undso\200 Arbeit\210 git\desktop-application\icdd-desktop-application\simplDeploy</destinationFolder>
    <useDefaultDestinationFolder>false</useDefaultDestinationFolder>
    <isActivated>true</isActivated>
  </deploymentTargets>
</simplDeployPackagerConfig>